<div>{{title1}}</div>

<div class="row ">
    <div class="col-sm-12">
      <img class="img-responsive headerImg" src="http://resrc.midland.com.hk/site-common/images/midland-realty-logo.png" />
    </div>
</div>