<ul class="list-group">
									<li>關於美聯</li>
									<li>
										<a href="http://www.midlandholdings.com.hk" target="_blank">美聯集團</a>
									</li>
									<li>
										<div class="panel-group" id="accordionSubsidiaries" role="tablist" aria-multiselectable="true" style="margin: 0px;">
										  <div class="panel panel-default" style="border: none; box-shadow: none;">
										    <div class="panel-heading" role="tab" id="headingSubsidiaries" style="background-color: #fff; padding: 0px; margin-bottom: 5px;">
										      
										        <a role="button" data-toggle="collapse" data-parent="#accordionSubsidiaries" href="#collapseSubsidiaries" aria-expanded="false" aria-controls="collapseSubsidiaries" class="collapsed">
										          	成員公司&nbsp;<span class="subsidiaries glyphicon glyphicon-triangle-bottom" style="font-size:11px"></span>
										        </a>
										      
										    </div>
										    <div id="collapseSubsidiaries" class="panel-collapseSubsidiaries collapse" role="tabpanel" aria-labelledby="headingSubsidiaries" aria-expanded="false">
										      <div class="panel-body" style="padding: 0px; border: none;">
										        <ul class="" style="padding: 0px; background-color:#f6f6f6; padding-left: 13px;">											
													<li style=" margin-bottom: 5px; font-size: 14px; ">
														<a href="http://www.midland.com.hk">美聯物業</a>
													</li>
													<li>
														<a href="http://www.midlandici.com.hk" target="_blank">美聯工商鋪</a>
													</li>
													<li>
														<a href="http://www.hkp.com.hk" target="_blank">香港置業</a>
													</li>
													<li>
														<a href="http://www.hkpici.com.hk" target="_blank">香港置業(工商鋪)</a>
													</li>													
													<li>
														<a href="http://www.1200.com.cn/" target="_blank">美聯中國</a>
													</li>
													<li>
														<a href="http://www.midland.com.mo" target="_blank">美聯澳門</a>
													</li>
													<li>
														<a href="http://www.hkpchina.com.cn" target="_blank">港置地產(深圳)</a>
													</li>
													<li>
														<a href="http://www.hkp.com.mo" target="_blank">港置地產(澳門)</a>
													</li>
													<li>
														<a href="http://www.mreferral.com" target="_blank">經絡按揭</a>
													</li>
													<li>
														<a href="http://www.midlandfinancial.com.hk" target="_blank">美聯金融集團</a>
													</li>
													<li>
														<a href="http://www.midlandglobal.hk" target="_blank">美聯環球</a>
													</li>
													<li>
														<a href="http://www.gzhuaguang.com.cn" target="_blank">美聯移民顧問</a>
													</li>
													<li>
														<a href="http://www.midland.com.hk/surveyor/" target="_blank">美聯測量師行</a>
													</li>
													<li style="margin-bottom: 0;">
														<a href="http://www.midlandu.com.hk" target="_blank">美聯大學堂</a>
													</li>
												</ul>
										      </div>
										    </div>
										  </div>
										</div>
									</li>
									<li>
										<a href="http://www.midlandholdings.com.hk/chi/investor_Relations.shtml" target="_blank">投資者關係</a>
									</li>
									<li>
										<a href="http://www.midland.com.hk/news/group-news/">集團動態</a>
									</li>
									<li>
										<a href="http://proptx.midland.com.hk/branch_agent/branch_search_list_index.jsp?lang=zh&amp;searchKey=1035080000">分行網絡</a>
									</li>
									<li>
										<a href="http://www.midland.com.hk/joinus/">人才招募</a>
									</li>
									<li>
										<a href="http://app.midland.com.hk/email/sendEmail.jsp?lang=zh">聯絡我們</a>
									</li>
									<li>
										<a href="http://www.midland.com.hk/payment-method/">網上繳費</a>
									</li>
								</ul>