<h2>Film listing</h2>

<ul class="films" *ngFor="let film of films">
    <li>
        <dl>
            <dt>Title</dt>
            <dd>{{film.title}}</dd>
            <dt>Description</dt>
            <dd>{{film.description}}</dd>
            <dt>Release Year</dt>
            <dd>{{film.release_year}}</dd>
            <dt>Special Features</dt>
            <dd>{{film.special_features}}</dd>
            <dt>Length</dt>
            <dd>{{film.length}}</dd>
        </dl>
    </li>
</ul>

<router-outlet></router-outlet>