<app-header></app-header>
<!-- <h1>{{title}}</h1> -->
<nav>
  <a routerLink="">網上搵樓</a>
  <a routerLink="filmlist">一手新盤</a>
  <a routerLink="page2">樓價走勢</a>
  <a routerLink="antest">最新成交</a>
  <a routerLink="en/antest">English</a>
  <a routerLink="tc/antest">Traditional Chinese</a>
</nav>
<router-outlet></router-outlet>
<!-- <app-district-block></app-district-block> -->

<app-footer></app-footer>
<h3>Translation Test</h3>
<button (click)="switchEn()">English</button>
<button (click)="switchChi()">Chinese</button>
<p>{{ 'APPLE' | translate:param }}</p>