<h2>Overdue Rentals</h2>

<md-select placeholder="Customer" class="select1">
   <md-option *ngFor="let rental of rentaloverdues" [value]="rental.customer">{{ rental.customer }}</md-option>
</md-select>

<md-card class="card-demo" >
    <md-card-title><h2>Overdue Rentals</h2></md-card-title>
    <md-card-subtitle>Grid with column spans calculated using '<span style="color: #333333">flex: &lt;grow&gt; &lt;shrink&gt; calc(&lt;...&gt;);</span>' expressions.</md-card-subtitle>
    <md-card-content>
      <div class="containerX" >
        <div class="container">
            <div>flex: 1 1 5em;</div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="container" >
            <div></div>
            <div [fxFlex]="calc2Cols"> flex: 2 2 calc(10em + 10px); </div>
            <div></div>
        </div>
        <div class="container" >
            <div [fxFlex]="calc2Cols"> flex: 2 2 calc(10em + 10px); </div>
            <div></div>
            <div></div>
        </div>
        <div class="container">
            <div></div>
            <div></div>
            <div [fxFlex]="calc2Cols"> flex: 2 2 calc(10em + 10px); </div>
        </div>
        <div class="container">
            <div [fxFlex]="calc3Cols" class="col3">  flex: 3 3 calc(15em + 20px); </div>
            <div></div>
        </div>
        <div class="container">
            <div></div>
            <div [fxFlex]="calc3Cols" class="col3">  flex: 3 3 calc(15em + 20px); </div>
        </div>        
      </div>
    </md-card-content>
    <md-card-footer class="bottomPad">
      <div class="hint" >Note: each cell has 'margin-left:10px' so the 'calc( )' expressions must account for those.</div>
    </md-card-footer>
  </md-card>

<h3>Film list</h3>
<md-list>
  <md-list-item *ngFor="let cat of filmList.filmcatlist">
    <md-icon md-list-avatar>folder</md-icon>
    <h5 md-line>{{cat.title}}</h5>
    <p md-line>{{cat.name}}</p>
    <app-print-btn [cat]="cat"></app-print-btn>
  </md-list-item>
</md-list>

<!--
<ul *ngFor="let rental of rentaloverdues">
    <li>
        <dl>
            <dt>Customer</dt>
            <dd>{{rental.customer}}</dd>
            <dt>Phone</dt>
            <dd>{{rental.phone}}</dd>
            <dt>Title</dt>
            <dd>{{rental.title}}</dd>
            <dt>Rental Date</dt>
            <dd>{{rental.rental_date}}</dd>
            <dt>Return Date</dt>
            <dd>{{rental.return_date}}</dd>
        </dl>
    </li>
</ul>
-->


<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" hreflang="{{hreflang}}">
<link href="/antest" rel="canonical" />