<div class="row searchSection">
  <div class="col-lg-12">
    <div class="input-group searchbar form-group" [class.has-danger]="searchFailed">
      <input type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" (selectItem)="selectedItem($event)" [inputFormatter]="inputFormatter" [resultFormatter]="resultFormatter" placeholder="{{ 'Property Search' | translate:param }}" />
      <span *ngIf="searching">searching...</span>
      <div class="form-control-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-sm-8">
    <div class="title">{{ 'Transaction Records' | translate:param }}</div>
    <table class="table">
      <thead>
        <tr>
          <th>大廈</th>
          <th>室</th>
          <th>面積(實,呎)</th>
          <th>面積(建,呎)</th>
          <th>成交價</th>
        </tr>
      </thead>
      <tbody class="table">
        <tr *ngFor="let txRecord of txRecords">
          <td>{{txRecord.BLDG_CHI_NAME}}</td>
          <td>{{txRecord.FLAT}}</td>
          <td>{{txRecord.GROSS_AREA}}</td>
          <td>{{txRecord.NET_AREA}}</td>
          <td>{{txRecord.SELL}}</td>
        </tr>
      </tbody>
    </table>
    <div class="pagination-custom ">
        <ngb-pagination [collectionSize]="pageSize"  [maxSize]="10" [rotate]="true" [pageSize]="10" [(page)]="page" (pageChange)="pageChanged()" ></ngb-pagination>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="title">{{ 'Other Estates' | translate:param }}</div>
    <table class="table">
      <thead>
        <tr>
          <th>屋苑 名稱</th>
        </tr>
      </thead>
      <tbody class="table">
        <tr *ngFor="let relativeEst of relativeEsts">
          <td>{{relativeEst[flangestname]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<p>{{ 'APPLE' | translate:param }}</p>