.searchSection{
    padding: 25px 0;
}
.searchbar {
    max-width: 60%;
    margin: 0 auto;
}
.pagination-custom {
    margin: 0 auto;
    padding: 20px 0;
    width: 200px;
}
table {
    margin-top: 15px;
}
tr:nth-child(even) {
    background: #f6f6f6
}
tr:nth-child(odd) {
    background: #FFF
}
table th{
    background: #22bdbf;
    color: white;
}
.title {
    font-size: 18px;
    font-weight: bold;
    padding-left: 5px;
}